<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="danger">
      <ion-title
        class="ion-text-center"
        style="font-size: 23pt; font-family: 'Fredoka', sans-serif"
        >Equipe</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content style="align-items: center">
        <div class="bg">
          <img
            src="https://i.pinimg.com/564x/32/7c/d4/327cd44e9a0caac86371d7c7c2d24f26.jpg"
          />
          <ion-label color="light">Lucas César Freitas</ion-label>
        </div>
        <ion-item-divider></ion-item-divider>
        <div class="bg">
          <img
            src="https://i.pinimg.com/originals/63/c9/c0/63c9c04e9f65c5b441c398053ee477f6.jpg"
          />
          <ion-label color="light">João Carlos Tavares Szegh</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
