<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="danger">
      <ion-title
        class="ion-text-center"
        style="font-size: 23pt; font-family: 'Fredoka', sans-serif"
        >Equipe</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content style="align-items: center">
        <img
          src="https://i.pinimg.com/564x/32/7c/d4/327cd44e9a0caac86371d7c7c2d24f26.jpg"
        />
        <ion-label color="dark"
          >Lucas César Freitas<br />João Carlos Tavares Szegh</ion-label
        >
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
