<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="danger">
      <ion-title
        class="ion-text-center"
        style="font-size: 23pt; font-family: 'Fredoka', sans-serif"
        >COVID SP</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><ion-icon
            name="checkmark-done"
            style="font-size: 30px; color: #eb445a"
          ></ion-icon
          ><ion-label
            style="font-weight: bold; font-family: 'Fredoka', sans-serif"
          >
            Confirmados</ion-label
          ></ion-card-title
        >
      </ion-card-header>
      <ion-card-content style="align-items: center">
        <ion-label color="dark" style="font-size: 25px">4999659</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><ion-icon
            name="skull"
            style="font-size: 25px; color: #eb445a"
          ></ion-icon
          ><ion-label style="font-weight: bold; margin-left: 10px"
            >Mortes</ion-label
          ></ion-card-title
        >
      </ion-card-header>
      <ion-card-content style="align-items: center">
        <ion-label color="dark" style="font-size: 25px"> 164305</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><ion-icon
            name="flask"
            style="font-size: 25px; color: #eb445a"
          ></ion-icon
          ><ion-label style="font-weight: bold; margin-left: 10px"
            >Suspeitas</ion-label
          ></ion-card-title
        >
      </ion-card-header>
      <ion-card-content style="align-items: center">
        <ion-label color="dark" style="font-size: 25px">5334</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-footer>
      <ion-toolbar style="margin-left: 15px">
        <ion-label
          >Última atualização em
          <ion-label color="primary">2022-02-26</ion-label></ion-label
        >
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-app>
